body {
    background-color:#f1f1f3;
    align-items: center;
    justify-content: center;
}

form {
    display:flex;
    align-items: center;
}
a {
    margin: 4%;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-decoration-color: #cfcfcf;
    background-color: #dedeff;
    display: flex;
}
h2 {
    background-color: #e8ebf9;
    text-align: center;
}
li {
    list-style-type: none;
  }
.auth-btn {
    padding: 0%;
    border: none;
    border-radius: 50%;
    height: 65px;
    width: 65px;
}
.form-history {
    margin: 0%;
}
.container-buttons {
    margin: auto;
}
header .submit-btn {
    margin: 4px 2px;
}
.submit-btn {
    margin: 6%;
    background-color: #a7a7a7;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    opacity: 0.6;
    transition: 0.5s;
  }
.submit-btn:hover {opacity: 1}
.block {
    margin: 3%;
}
.form-group {
    display: block;
    align-self: auto;
    top:auto;
    color: black;
    margin: 7%;
    width: auto;
    height: auto;
    background-color: #e8ebf9;
}
.form-group div {
    margin-bottom: 6%;
}
.login-group div {
    margin-bottom: 4%;
}
.group-all{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block-currency {
    padding: 2%;
    align-items: center;
    display: block;
    margin: 2%;
}
.block-price {
    margin: 4%;
    text-align: left;
}
header{
    display: flex;
    align-items: center;
    background-color: #cfcfcf;
    height: 80px;
}

.menu-nav {
    align-items: center;
    display: flex;
}
.item {
    text-align: center;
}
.dropdown {
    position: absolute;
    right: 1%;
    border: 20%;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    position: relative;
  }
  
  nav ul li a {
    display: block;
    padding: 10px;
  }
  
  nav ul li:hover > ul {
    display: block;
  }
  
  .dropdown-menu {
    width: 100px;
    opacity: 0.5;
    background-color: #7c7979;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
  }
  .menu-item {
    
    opacity: 1;
    
  }
  
  .dropdown-menu li {
    display: block;
  }
  .user-box {
    height: 60px;
    padding: 0%;
    border: none;
    border-radius: 50%;
  }

  .pic-container{
    display: flex;
  }