body {
    background-color:#f1f1f3;
    align-items: center;
    justify-content: center;
}

form {
    display:flex;
    align-items: center;
}
a {
    margin: 4%;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-decoration-color: #cfcfcf;
    background-color: #dedeff;
    display: flex;
}
h2 {
    background-color: #e8ebf9;
    text-align: center;
}
li {
    list-style-type: none;
  }
.form-history {
    margin: 0%;
}
.container-buttons {
    margin: auto;
}
.submit-btn {
    background-color: #a7a7a7;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.5s;
  }
.submit-btn:hover {opacity: 1}
.block {
    margin: 3%;
}
.form-group {
    align-self: auto;
    top:auto;
    color: black;
    margin: 7%;
    width: auto;
    height: auto;
    background-color: #e8ebf9;
}
.block-currency {
    padding: 2%;
    align-items: center;
    display: block;
    margin: 2%;
}
.block-price {
    margin: 4%;
    text-align: left;
}
header{
    background-color: #cfcfcf;
    display: flex;
}