* {
    background-color:#f1f1f3;
}

body {
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
}

form {
    display:flex;
    align-items: center;
}
a {
    color: white;
    text-decoration: none;
    text-decoration-color: #cfcfcf;
    background-color: #dedeff;
}
.submit-btn {
    background-color: #a7a7a7;
    border: none;
    color: rgb(0, 0, 0);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.5s;
  }
.submit-btn:hover {opacity: 1}
.block {
    width: 360px;
    height: 43px;
    margin: 5px;
}
.form-group {
    align-self: auto;
    top:auto;
    color: black;
    margin: 7%;
    width: auto;
    height: auto;
    background-color: #e8ebf9;
}