body {
    color:darkblue;
    font-family:Arial, Helvetica, sans-serif;
    justify-content: center;
    display: flex;
     
}
button {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}